<h3>{{t 'pages.services.other.title'}}</h3>
<ul>
    <li>{{t 'pages.services.other.first'}}</li>
    <br/>
    <li>{{t 'pages.services.other.second'}}</li>
    <br/>
    <li>{{t 'pages.services.other.third'}}</li>
</ul>