<div class="secondary-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="icon-block"><span class="icon label-warning"><i class="fa fa-phone"></i></span></span><strong>0744443333</strong>
      </div>
      <div class="col-md-4">
        <span class="icon-block"><span class="icon label-danger"><i class="fa fa-envelope"></i></span></span><strong>aaa@aaa.aa</strong>
      </div>
      <div class="col-md-4">
        <span class="icon-block"><span class="icon label-primary"><i class="fa fa-facebook"></i></span></span><strong>aaaa</strong>
      </div>
    </div>
  </div>
</div>
