<div class="secondary-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="icon-block"><span class="icon label-warning"><i class="fa fa-phone"></i></span></span><strong>+40256235391</strong>
      </div>
      <div class="col-md-4">
        <span class="icon-block"><span class="icon label-danger"><i class="fa fa-envelope"></i></span></span><strong>office@apctm.ro</strong>
      </div>
      <div class="col-md-4">
          <a href="https://www.facebook.com/apctm.ro"><span class="icon-block"><span class="icon label-primary"><i class="fa fa-facebook"></i></span></span><strong>apctm.ro</strong></a>
      </div>
    </div>
  </div>
</div>
