<footer class="site-footer site-top-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 footer-widget widget text_widget">
                <br/>
                <br/>
            </div>
            <div class="col-md-3 col-md-offset-6 col-sm-6 col-sm-offset-12 footer-widget widget text_widget">
                <h4 class="accent-color">{{t 'footer.phoneNumbers'}}</h4>
                <p>+40 256 235 391</p>
                <p>+40 787 871 256</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>