<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Contact</li>
                </ol>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2>Contact</h2>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="double-border"></div>