<div class="hero-slider">
    <div class="slider-rev-cont">
        <div class="tp-banner-container">
            <div class="tp-limited">
                <ul>
                  <li data-delay="5000" data-masterspeed="600" data-slotamount="7" data-transition="fade">
                  <!-- MAIN IMAGE -->
                  <img src="images/P4261424.JPG" alt="">
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption sfr whiter h4 tp-resizeme"
                       data-x="left"
                       data-hoffset="-15"
                       data-y="center"
                       data-voffset="-80"
                       data-speed="1000"
                       data-start="500"
                       data-easing="Back.easeInOut"
                       data-endspeed="300">
                      {{t 'slider.first'}}
                  </div>

                  <div class="tp-caption sfr whiter para tp-resizeme"
                       data-x="left"
                       data-hoffset="-20"
                       data-y="center"
                       data-voffset="80"
                       data-speed="1400"
                       data-start="800"
                       data-easing="Back.easeInOut"
                       data-endspeed="300">
                      {{t 'slider.second'}}
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption sfr whiter para text-align-right tp-resizeme"
                       data-x="left"
                       data-hoffset="-20"
                       data-y="center"
                       data-voffset="100"
                       data-speed="1400"
                       data-start="1000"
                       data-easing="Back.easeInOut"
                       data-endspeed="300">
                      {{t 'slider.third'}}

                  </div>
                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption sfr whiter para text-align-right tp-resizeme"
                       data-x="left"
                       data-hoffset="-20"
                       data-y="center"
                       data-voffset="120"
                       data-speed="1000"
                       data-start="1800"
                       data-easing="Back.easeInOut"
                       data-endspeed="300">
                      {{t 'slider.forth'}}
                  </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>