{{view 'slider'}}
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row text-justify">
                <h4>ATENA PROIECT CONSULT S.R.L.-D </h4>{{t 'pages.home.first'}}
                <b>ATENA PROIECT CONSULT S.R.L.-D </b>{{t 'pages.home.second'}}
                <hr/>
                {{t 'pages.home.third'}}
            </div>
        </div>
    </div>
</div>