{{view 'slider'}}
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row text-justify">
                <h4>ATENA PROIECT CONSULT S.R.L.-D</h4> are ca principal obiect de activitate  lucrări de instalații electrice (cod CAEN 4321), proiectare și consultanta tehnica în acest domeniu (cod CAEN 7112).
                <b>ATENA PROIECT CONSULT S.R.L.-D</b> a implementat  Sistemul de asigurare a calității conform ISO 9001:2008, Sistemul de management de mediu SR EN ISO 14001:2005 (ISO 14001:2004) și Sistemul de management al securității și sănătății ocupaționale conform CHSAS 18001:2007.
                <hr/>
                Garanția calității lucrărilor executate este asigurata de profesionalismul și experiența specialiștilor firmei  ATENA PROIECT CONSULT S.R.L.- D, concretizate în numeroase certificări și autorizări.
            </div>
        </div>
    </div>
</div>